.bg-light {
    background-color: black !important;    
    }

.btn:hover{
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}
.nb-3 {
    width: 80%;
}
.cadastro {
    text-align: center;
    margin: 40px 0;
    color: white;
}